/*
Theme Name: Wow Child
Theme URI: http://www.wordpress.bingotheme.com/wow
Author: bingotheme
Description: This is a child theme for Wow
Version: 1.0
Author URI: http://bingotheme.com
Template: wow
Text Domain: wow-child
*/
@import url("../wow/style.css");
.products-list.grid .bmf_excerpt,
.owl-carousel .owl-item .products-content div p,
.products-list.grid .product-wapper .products-content .product-button{
    display: none;
}
body{
	color: #333333;
}

.wrapper-body *::-moz-selection {
    background-color: rgba(255, 0, 0, 0.7);
}

.wrapper-body *::selection {
    background-color: rgba(255, 0, 0, 0.7);
}

ul{
    list-style-type: none;
}

h4 {
    color: #4d4d4d;
    font-family:  'Lato-Bold';
    font-size: 16px;
}
.slider_sm_bg{
	display: none;
}

/*Header*/

.bin-header.header-2 .categories-menu .menu > li.level-0 > a {
    padding: 6px 22px !important;
}

.bin-header.header-2 .categories-menu .menu > li.level-0 > a:hover > .menu-item-text,
.bin-header.header-2 .bin-navigation ul > li.level-0:hover > a span.menu-item-text {
    color: #ed1c24;
    cursor: pointer;
}

.bin-header.header-2 .content-head .col-sm-9,
.bin-header.header-2 .content-head .col-sm-2,
.bin-header.header-2 .content-head .col-sm-1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 80px;
}

.bin-header.header-2 .content-head aside:last-of-type p {
    margin: 0;
}

.bin-header.header-2 .content-head .bingo-menu-wrapper .navbar-toggle {
    height: 80px;
    color: #1A1A1A;
}

.navbar-header button #show-megamenu {
    display: inline;
    height: 80px;
    vertical-align: middle;
}

.bin-header.header-2 .header-content #text-2 {
    margin-right: 70px;
}

.bin-header.header-2 .header-content #text-4 {
    position: relative;
    left: 15px;
    top: 0;
}

.bin-header.header-2 .header-content .col-sm-1.middle {
    margin-left: -30px;
}

#text-2 .widget-title, #text-3 .widget-title, #text-4 .widget-title {
    color: #4D4D4D;
}

#text-2 .widget-title {
    font-size: 31px !important;
    font-family:"Lato-Medium";

}

#text-3 .widget-title {
    font-size: 21px !important;
    font-family: "Lato-Heavy";
    font-weight: 600;
    color: #4D4D4D;
}

.fa-phone {
    margin-right: 15px;
    font-size: 20px;
    position: relative;
    top: 1px;
    right: -1px;
}

.bin-header.header-2 .categories-menu .menu > li.level-0 > a {
    padding: 6px 34px !important;
}

.categories-menu #menu-menu-categories li:first-of-type a {
    padding-left: 0 !important;
}

.categories-menu #menu-menu-categories li:last-of-type a {
    padding-right: 0 !important;
}
.slider_btn {
    color: #ffffff;
}

/*Main Content */
/*.wpb_wrapper .widget_text ul{*/
/*list-style-type: none ;*/

.hesperiden.tparrows:hover {
    background: transparent;
}

#main-content {
    background: #F7F7F7 !important;
}

.color-white {
    color: #fff !important;
}

.offers-block {
    padding: 0 !important;
}

.bin-footer.footer-4 {
    background: #808080 !important;
}

.vc_row.wpb_row.vc_row-fluid.section-footer4-1 {
    display: none !important;
}

#bin-footer.footer-4 .section-footer4-2 {
    margin-top: 0;
    border: none;
}

.back-top > span {
    font-size: 10px !important;
    color: #B3B3B3;
    padding: 3px 0;
}

.back-top .fa-angle-up {
    font-size: 20px;
    position: relative;
    left: 0;
}

.footer_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.copiright--3 .copyright {
    color: #fff;
}

/*.company_name{
	color: #fff;
}*/
.company_name a {
    font-family: 'Lato-Regular';
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #ffffff;
}

.company_name a span {
    color: #ED1C24;
}

.fa-phone {
    margin-right: 15px;
    font-size: 20px;
}

.bin-footer.footer-4 {
    background: #808080 !important;
}

.vc_row.wpb_row.vc_row-fluid.section-footer4-1 {
    display: none !important;
}

#bin-footer.footer-4 .section-footer4-2 {
    margin-top: 0;
    border: none;
}

.red_square, #bin-main .page-title h1 {
    z-index: 10;
    position: relative;
    margin: 60px 0 60px;
    letter-spacing: 0.1px;
    color: #333333;
    font-size: 54px;
    font-family: "Lato-Black";
}
.bin-header.header-2 .categories-menu .menu>li.level-0 > a span, .bin-header.header-2 .bin-navigation ul>li.level-0  > a span,
.wpb-js-composer .vc_tta.vc_tta-spacing-1 .vc_tta-tab > a span  {
    color: #333333;
}
.wpb-js-composer .vc_tta.vc_tta-style-classic.vc_tta-tabs .vc_tta-panel {
    background-color: #fff;
}
.red_square:before, #bin-main .page-title h1:before {
    content: "";
    position: relative;
    z-index: -1;
    top: 19px;
    margin-right: -49px;
    width: 70px;
    height: 70px;
    display: inline-block;
    border: 4px solid #ed1c24;
}

.offers:before {
    content: "";
    position: relative;
    z-index: -1;
    /*top: 15px;*/
    /*margin-right: -65px;*/
    top: 22px;
    margin-right: -56px;
    width: 70px;
    height: 70px;
    display: inline-block;
    border: 4px solid #ed1c24;
}

.products-list.grid .product-wapper .products-content {
    background-color: #fff;
    margin: 0;
    padding: 35px 45px;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 180px;
    color: #4D4D4D;
}
.products-list.grid .product-wapper:hover {
    border-radius: 0;
    margin: 15px;
    padding:0;
    box-shadow: 0 10px 22px 0 rgba(0,0,0,.25);
}
.products-list.grid .product-wapper .products-content .prods-fasad {
    font-size: 14px;
    font-family: "Lato-Light";
}

.products-list.grid .product-wapper .products-content h3 a {
    font-size: 16px;
    font-family: "Lato-Bold";
    text-transform: uppercase;
}
.products-list.grid .product-wapper .products-content h4 {
    font-size: 16px;
    font-family: "Lato-Bold";
}

.products-list.grid .product-wapper .products-content .price {
    display: none;
}

.bin-policy.bin-policy--2 .policy-info .title-policy:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -25px;
    width: 50px;
    height: 1px;
    background: #fff;
    display: inline-block;
}

.wpb_wrapper .widget_text ul {
    padding: 50px 0 100px;
    margin: 0 auto;
    width: 1000px;
    line-height: 2.2;
}

.wpb_wrapper .widget_text ul li {
    font-size: 15px;
}

.best_choice {
    width: 1310px;
    background-color: #fff;
    margin: 0 auto 50px;
    box-shadow:0 5px 20px 5px #CFCFCF;
    display: flex;
    align-items: center;
    height: 100%;
}

.best_choice .widgettitle {
    font-family: "Lato-Bold";
    font-size: 19px;
}

.best_choice .textwidget p, .best_choice .textwidget ul, .best_choice .textwidget {
    width: 570px;
    font-family: "Lato-Medium";
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.best_choice .choice_text {
    padding: 30px 70px;
    width: 56%;
}

.best_choice .choice_img {
    width: 44%;
}

.best_choice_right {
    text-align: right;
}

.best_choice_left .vc_column_container:first-of-type .vc_column-inner {
    padding: 0;
}

.best_choice_left .wpb_single_image.vc_align_center {
    text-align: inherit;
}

.best_choice .vc_column_container .vc_column-inner .wpb_content_element,
.best_choice .vc_column_container .vc_column-inner .wpb_content_element .widget_text {
    margin: 0;
}

.best_choice_right .vc_column_container:nth-of-type(2) .vc_column-inner {
    padding: 0;
}
.best_choice_right .wpb_single_image.vc_align_center {
    text-align: inherit;
}

h2.offers {
    margin: 40px auto 30px;
}

h2.offers:after {
    content: "";
    margin: 30px auto 0;
    display: block;
    width: 130px;
    border-bottom: 2px solid #fff;
    left: 7px;
    right: 3px;
    height: 1px;
    transform: translateY(-50%);
}

.offers-block .text_list, .reasons .text_list {
    font-family: "Lato-Regular";
    font-size: 15px;
    width: 990px;
    margin: 0 auto 100px;
    line-height: 2;
    padding: 0;
}
.offers-block .text_list .wpb_wrapper ul, .reasons .text_list .textwidget ul {
    padding: 0;
}

.reasons .text_list .wpb_wrapper ul {
    margin: 0 auto;
}

.see_more {
    width: 356px;
    height: 63px;
    margin: 50px auto 0;
    text-align: center;
    background: transparent;
}

.vc_btn3.vc_btn3-color-grey, .vc_btn3.vc_btn3-color-grey.vc_btn3-style-flat {
    background: transparent;
    border-radius: 0;
    border: 1px solid #333;
    font-family:  "Lato-Bold";
    width: 356px;
    height: 63px;
    font-size: 17px;
    padding: 16px 20px 14px;
}

.choice_text {
    font-family:  "Lato-Medium";
    font-size: 15px;
    line-height: 33.2px;
    color: #333333;
}

.copyright--3 span {
    font-size: 15px;
    font-family: "Lato-Regular";
    color: #fff;
    letter-spacing: 0.5px;
}

.best_choice_text {
    font-family: "Lato-Medium";
    line-height: 37.2px;
    font-size: 15px;
    color: #333;
}

.italic_text {
    font-family: "Lato-SemiboldItalic";
    font-style: italic;
    color: #333;
}

.tp-splitted.tp-linesplit {
    text-align: center !important;
}

.hephaistos .tp-bullet {
    width: 16px;
    height: 16px;
    border-radius: 0;
    box-sizing: border-box;
    border: 6px solid #fff;
}

.hephaistos .tp-bullet.selected {
    background: #000000;
    border: 6px solid #fff;

}

.back-top.button-show:hover span {
    color: #ffffff;
}

.vc_btn3.vc_btn3-color-grey, .vc_btn3.vc_btn3-color-grey.vc_btn3-style-flat:hover {
    color: #ffffff;
    background: #333;
}
.products-list.list .product-wapper .products-thumb {
    width: 450px;
}
.products-list.list .product-wapper .products-content {
    max-width: 740px;
    margin-left: 480px;
}
.products-content .detailed {
    position: relative;
    text-decoration: none;
    display: inline-block;
    border-color: #ed1c24;
    width: 210px;
    height: 42px;
    margin: 50px 0 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-style: solid;
    border-width: 2px;
    background-color: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 3px 5px 0px #dd9090;
    -moz-box-shadow: 0px 3px 5px 0px #dd9090;
    box-shadow: 0px 3px 5px 0px #dd9090;
}
.products-content .detailed:hover {
    border-color: #ed1c24;
    background-color: rgba(237, 28, 36, 1);
    box-shadow: 0px 3px 5px 0px #c9c9c9;
}
.products-content .detailed:hover .btn_text {
    color: #fff;
}
.products-content .detailed .btn_text {
    color: #4d4d4d;
    font-family: "Lato-Semibold";
    font-size: 15px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    padding-top: 12px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    line-height: 1em;
    box-sizing: border-box;
    display: block;
    background-color: unset;
}
.bmf_excerpt p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.bmf_excerpt div{
    overflow: hidden;
}
.single-product .woocommerce-tabs ul.tabs li.active a {
    cursor: default;
}
.products-list.list .product-wapper:hover .products-thumb .quickview {

}
.products-list.list .product-wapper .products-thumb .bin-quickview-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
/*ABOUT US*/
.page-wrapper #bin-main .page-title.bin-title {
    padding: 10.5% 0;
    background-repeat: no-repeat;
    background-size: cover;
}
#bin-main .page-title h1 {
    color: #fff;
    vertical-align: top;
    margin: 0 auto 35px;
    line-height: 1.15;
}
#bin-main .page-title h1:before {
    top: 15px;
    margin-right: -68px;
}
.bin-breadcrumb .bin-breadcrumb-inner a, .bin-breadcrumb .bin-breadcrumb-inner .current {
    color: #fff;
    text-transform: none;
    font-size: 23px;
}
.archive.woocommerce .bin-breadcrumb{
    color: #333333;
}
.archive.woocommerce .bin-breadcrumb .delimiter {
    border-color: #333333;
}
.archive.woocommerce .bin-breadcrumb a:hover  {
    color: #ed1c24;
}
.bin-breadcrumb .bin-breadcrumb-inner a:hover {
    color: #ed1c24;
}
.bin-breadcrumb .bin-breadcrumb-inner .delimiter {
    border-color: #fff;
    border-bottom: 1px solid;
    border-top: none;
}



/*Colors*/

.single-product .woocommerce-tabs .panel p{
    border-bottom: 1px dashed #CCCCCC;
    font-family: "Lato-Regular";
    line-height: 30px;
    padding: 10px 0 10px 55px;
    margin: 0;
}
.single-product .woocommerce-tabs .panel p:last-child{
    border-bottom: 0;
}
.product_meta{
    display: none;
}
.single-product .woocommerce-tabs .panel{
    margin-top: 45px;
}
.bin-main{
    background: #ffffff;
}
.menu-item-text:hover{
    color: #ed1c24 !important;
}

.menu-menu-categories li a:hover{
    color: #ed1c24 !important;
}
.archive.woocommerce .bin-breadcrumb a{
    color: #333333;
}
.archive.woocommerce .bin-breadcrumb .delimiter{
    border-color: #333;
}
.archive.woocommerce .bin-breadcrumb{
    color: #333333;
}
.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab>a:focus,
.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab>a:hover,
.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab>a,
.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-title>a,
.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-body{
    background-color: #ffffff !important;
}
.wpb-js-composer .vc_tta.vc_tta-spacing-1 .vc_tta-tab.vc_active > a span,
.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab>a:hover span,
.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-heading .vc_tta-title-text,
.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading a:hover .vc_tta-title-text{
    color: #ed1c24;
}
.wpb-js-composer .vc_tta.vc_tta-spacing-1 .vc_tta-tab > a span  {
    font-family: "Lato-Black";
    font-size: 15px;
    color: #666666;
}
.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading .vc_tta-title-text{
     color: #666666;
 }
.vc_tta-tabs-container{
    border-bottom: 1px solid #e1e1e1;
}
.vc_tta-tab.vc_active{
    border-bottom: 1px solid #ED1C24;
}

.vc_tta-tab.vc_active a .vc_tta-title-text{
    color: #ED1C24;
}

.wpb-js-composer .vc_tta.vc_tta-spacing-1 .vc_tta-tab:hover .wpb-js-composer .vc_tta.vc_tta-spacing-1 .vc_tta-tab .vc_tta-title-text{
    color: #ED1C24;
}
.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab>a{
    /*background: #f7f7f7 !important;*/
    background: #ffffff;
    border: none !important;
}
.wpb-js-composer .vc_tta-tabs.vc_tta-tabs-position-top .vc_tta-tabs-list{
    margin: 0 35px !important;
}
.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-body{
    border: none;
}


.wpb-js-composer .vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-panel-body .wpb_single_image{
    display: inline-block;
    margin-right: 20px;
}
.wpb-js-composer .vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-panel-body .wpb_single_image:nth-of-type(6n+6){
    margin-right: 0;
}
.wpb-js-composer .vc_tta-container .vc_tta.vc_general .vc_tta-panel-body {
    border: 1px solid transparent;
    box-sizing: content-box;
    padding: 14px 20px;
    display: none;
    overflow: hidden;
    transform: none;
    transition: none;
}


#fancybox-loading div {

    background-position-x: 2px;
}
.products-list.grid .product-wapper .products-thumb {
    margin: 0 auto;
}
.products-list.grid .product-wapper .products-thumb a {
    display: block;
    height: 100%;
    border-radius: 0;
}
.products-list.grid .product-wapper .products-thumb{
    overflow: hidden;
    position: relative;
}
.products-list.grid .product-wapper:hover .products-thumb a {
    border-radius: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.products-list.grid .product-wapper .products-thumb .wp-post-image {
    display: block;
    max-width: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    width: auto;
    margin: auto;
    transition: all .5s ease 0s;
}

/*Contacts */
.contact_title {
    font-family: 'Lato-Bold';
    font-size: 19px;
    margin-top: 40px;
    margin-bottom: 55px;
}
.contacts_location, .contacts_phone, .contacts_email {
    text-align: left;
    padding-left: 12%;
    padding-bottom: 6%;
    font-family: "Lato-Medium";
    font-size: 15px;
    background-repeat: no-repeat;
}
.contacts_location p, .contacts_phone p, .contacts_email p{
    line-height: 1.9;
}
.contacts_location, .dealers_location {
    background-image: url("img/location.png");
}
.contacts_phone, .dealers_phone{
    background-image: url("img/phone.png");
}
.contacts_email, .dealers_email {
    background-image: url("img/email.png");
    background-position: -6px -4px;
}
.contacts_block .wpb_single_image .vc_single_image-wrapper {
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.contacts_block .vc_figure {
    width: 576px;
    height: 557px;
}
.contacts_block .choice_img .wpb_single_image img {
    display: block;
    max-width: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    width: auto;
    margin: auto;
    transition: all .5s ease 0s;
}


 .dealers_heading, .vc_tta-panel-body .vc_row.wpb_row, .vc_tta-panel-body .vc_column-inner .dealers_city_title {
    font-family: "Lato-Heavy" !important;
    font-size: 15px;
    max-width: 75%;
    margin: 30px auto;
    padding-left: 35px;
}
.vc_tta-panel-body .vc_column-inner .dealers_city_title {
    max-width: 95%;
    margin: 0;
    padding-left: 0;
}
.dealers_table_row {
    max-width: 75%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
.dealers_table_row  .wpb_content_element{
    margin-bottom: 0;
}
.dealers_table_row  .wpb_content_element .widget_text{
    margin-bottom: 9px;
}
.dealers_table_row  .wpb_content_element .widget_text p{
    font-family: "Lato-Regular";
    font-size: 14px;
    color: #333333;
}
.dealers_heading {
    font-family: "Lato-Regular" !important;
    font-size: 15px;
    color: #4d4d4d;
}
.dealers_tabs .vc_column_container>.vc_column-inner {
    padding-top: 5px;

}
 .dealers_phone, .dealers_location, .dealers_email {
    text-align: left;
    padding-left: 28%;
    padding-bottom: 6%;
    font-family: "Lato-Regular";
    font-size: 15px;
    background-repeat: no-repeat;
     margin-top: 25px;
     margin-bottom: 0;
}
.dealers_location {
    padding-left: 10%;
}
.dealers_phone .widget_text, .dealers_location .widget_text, .dealers_email .widget_text{
    margin-bottom: 0;
}
.dealers_tabs .dealers_phone_email{
    position: relative;
    top: -15px;
    left: -100px;
}
.dealers_kz_city .textwidget p, .dealers_kz_phone .textwidget p{
    font-weight: normal;
    font-family: "Lato-Regular";
}
.vc_column_container .wpb_wrapper .kz_heading{
    font-family: "Lato-Black" !important;
    font-size:16px !important;
}

.vc_tta-panel .vc_tta-panel-body .dealers_table_row .vc_column_container .vc_column-inner {
    padding-top: 17px;
}
.vc_tta-panel-body .vc_custom_heading{
      font-family: "Lato-Regular" !important;
      font-size: 15px;
  }
.vc_tta-panel-body .vc_custom_heading strong {
    font-family: "Lato-Heavy";
    font-size: 15px;
}

.wpb-js-composer .vc_tta.vc_general.color_tabs .vc_tta-panels-container {
 margin-top: 10px;
}
.wpb-js-composer .vc_tta.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels {
    border: none !important;
    background-color: #ffffff !important;
}
.products-list.list .product-wapper {
    transition: none;
}
.product-type-simple .summary {
    padding-top: 75px;
}
.product-type-simple .summary .facade_type {
    padding: 25px 0;
}
.related .related_title h2 {
    font-family: "Lato-Black";
    font-size: 28px;
    margin-top: 50px;
}
.owl-stage .products-content a.detailed {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.related .related_product.product-wapper .products-content {
    margin: 0 auto;
    padding: 35px 0;
    width: 355px;
    position: relative;
}
.content_sortPagiBar .woocommerce-ordering .orderby option {
    font-family: "Lato-Regular";
}
.products-list.list .product-wapper .products-thumb .wp-post-image {
    width: 100%;
}

@media screen and  (min-width: 481px) {
    .slider_sm_photo {
          display: none;
      }
    .slider_sm_bg {
        display: none;
    }
}
.quickview-container .posted_in, .quickview-container .sku_wrapper, .quickview-container .tagged_as{
	display: none;
}

/*#fancybox-loading div{
	width: 45px;
	height: 45px;
	background: #ccc !important;
}*/


@media screen and  (min-width: 1920px) {
    .container {
        width: 1460px;
    }
    .products-list.grid .product-wapper .products-thumb {
        display: block;
        width: 335px;
        height: 335px;
    }
    .bin-header.header-2 .categories-menu .menu>li.level-0 > a span {
        font-size: 16px;

    }
    .products-list.grid .product-wapper .products-thumb {
        display: block;
        width: 335px;
        height: 355px;
    }
    .wpb-js-composer .vc_tta.vc_general.color_tabs {
        width: 1130px;
        margin: 0 auto;
    }
    .wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels .vc_tta-panel-body {
        width: 1015px;
        margin: 0 auto;
    }
    h2.offers {
        margin: 40px auto 30px;
        font-size: 40px;
    }
}
@media screen and (max-width: 1919px)and (min-width: 1220px) {
    .container {
        width: 1100px;
    }

    .products-list.grid .product-wapper .products-content h3 a {
        font-size: 16px !important;
        font-family: "Lato-Bold";
        text-transform: uppercase;
    }
    .products-list.grid .product-wapper .products-content h4 {
        font-size: 14px !important;
    }
    .facade_type {
        font-size: 12px !important;
    }
    .products-list.grid .product-wapper .products-content {
        padding: 25px 20px;
    }
    #text-2 .widget-title {
        font-size: 22px !important;

    }

    #text-3 .widget-title {
        font-size: 16px !important;

    }

    .bin-header.header-2 .content-head .bingo-menu-wrapper .navbar-toggle {
        /*height: 80px;*/
        margin-left: 20px;
    }

    .bin-header.header-2 .header-content #text-2 {
        margin-left: 5px;
    }

    .bin-header.header-2 .categories-menu .menu > li.level-0 > a {
        padding: 6px 25px !important;
    }

    .bin-header.header-2 .categories-menu .menu {
        font-size: 12px;
    }

    .best_choice {
        width: 910px;
        margin: 0 auto 50px;
    }

   .best_choice_right .choice_img .wpb_single_image img {
        height: auto;
        max-width: 100%;
        vertical-align: top;
        margin-left: 1px;
    }

    .entry-content .best_choice .choice_text {
        width: 56%;
        background-color: #fff;
        padding: 10px 40px 0 40px;
    }

    .widget_text .maxbutton-1.maxbutton.maxbutton-catalog {
        width: 180px;
        height: 42px;
    }

    .best_choice .widgettitle {
        font-size: 16px;
    }

    .best_choice .choice_text .textwidget p, .best_choice .choice_text .textwidget ul li, .best_choice .choice_text .textwidget {
        width: 400px;
        font-size: 13px;
    }
    .products-list.grid .product-wapper .products-thumb {
        display: block;
        width: 245px;
        height: 245px;
    }
    .wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab>a {
        padding: 14px 16px !important;
    }
    .wpb-js-composer .vc_tta.vc_tta-spacing-1 .vc_tta-tab > a span {
        font-size: 12px;
    }
    .contact_title {
        font-size: 15px !important;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .contacts_location, .contacts_phone, .contacts_email {
        padding-bottom: 10px;
    }
    .contacts_block .wpb_single_image .vc_single_image-wrapper {
        display: block;
        height: 100%;
        overflow: hidden;
        position: relative;
    }
    .contacts_block .vc_figure {
        width: 400px;
        height: 380px;
        margin-left: 1px;
    }
    .contacts_block .choice_img .wpb_single_image img {
        display: block;
        max-width: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        min-height: 100%;
        min-width: 100%;
        height: 100%;
        width: auto;
        margin: auto;
        transition: all .5s ease 0s;
    }
    .choice_text .delivery_info .textwidget p{
        line-height:1.9;
        font-size: 12px;
    }
    .wpb_wrapper .vc_btn3.vc_btn3-color-grey.vc_btn3-style-flat {
        width: 240px;
        height: 50px;
        font-size: 14px;
    }
    .related .related_product.product-wapper .products-content {
        width: 70% !important;
        margin: 0 auto;
        padding: 20px 0 0;
    }
    h2.offers {
        margin: 40px auto 30px;
        font-size: 40px;
    }
}


@media screen and (max-width: 1219px)
and (min-width: 1025px) {
    .container {
        width: 940px;
    }
    #bin-main .page-title h1, .archive.woocommerce #bin-main .page-title h1 {
        font-size: 46px !important;
    }
    #bin-main .page-title h1:before {
        top: 19px !important;
        margin-right: -62px !important;

    }
    .bin-header.header-2 .categories-menu .menu > li.level-0 > a {
        padding: 6px 16px !important;
    }

    .bin-header.header-2 .header-content .col-sm-1.middle {
        margin-left: 5px;
        padding: 0;
        width: 40px;
    }

    .bin-header.header-2 .content-head .col-sm-9 {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 0;
        width: 700px;
        margin-left: 5px;
    }

    .bin-header.header-2 .header-content #text-2 {
        /*flex-grow: 2;*/
        /*text-align: center;*/
        margin: 0 10px;
    }

    .bin-header.header-2 .header-content #text-2 .widget-title {
        font-size: 22px !important;
    }

    #text-3 .widget-title {
        font-size: 15px !important;

    }

    /*.bin-header.header-2 .header-content #text-4 {*/
    /*flex-grow: 1;*/
    /*text-align: center;*/
    /*}*/
    .header-content .maxbutton-1.maxbutton.maxbutton-catalog {
        width: 150px;
    }

    .fa-phone {
        margin-right: 10px;
    }
    .wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab>a {
        padding: 14px 12px !important;
    }
    .wpb-js-composer .vc_tta.vc_tta-spacing-1 .vc_tta-tab > a span {
        font-size: 11px;
    }
    .products-list.grid .product-wapper .products-thumb {
        position: relative;
        display: block;
        width: 355px;
        height: 205px;
        overflow: hidden;
    }
    .vc_row.contacts_block {
        margin: 0 auto 120px;
    }
    .contacts_block .vc_column_container > .vc_column-inner {
        padding: 0;
    }
    .contact_title {
        font-size: 15px !important;
        margin: 20px 0 20px 45px;
    }
    .contacts_location, .contacts_phone, .contacts_email {
        padding-bottom: 10px;
        margin-left: 40px !important;
        margin-bottom: 10px !important;
    }
    .contacts_block .wpb_single_image .vc_single_image-wrapper {
        display: block;
        height: 100%;
        overflow: hidden;
        position: relative;
    }
    .contacts_block .vc_figure {
        width: 400px;
        height: 380px;
        margin-left: 1px;
    }
    .contacts_block .choice_img .wpb_single_image img {
        display: block;
        max-width: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        min-height: 100%;
        min-width: 100%;
        height: 100%;
        width: auto;
        margin: auto;
        transition: all .5s ease 0s;
    }
    .wpb_wrapper .vc_btn3.vc_btn3-color-grey.vc_btn3-style-flat {
        width: 220px;
        height: 50px;
        font-size: 14px;
    }
    .products-list.grid .product-wapper .products-content h3 a {
        font-size: 16px !important;
        font-family: "Lato-Bold";
        text-transform: uppercase;
    }
    .products-list.grid .product-wapper .products-content h4 {
        font-size: 14px !important;
    }
    .facade_type {
        font-size: 12px !important;
    }

}
@media screen and (max-width: 1220px)and (min-width: 1200px) {
    .bin-header.header-2 .categories-menu .menu > li.level-0 > a {
        padding: 6px 11px !important;
    }
}
@media only screen
and (min-width: 768px)
and (max-width: 1023px) {
    .container {
        width: 720px;
    }
    #bin-main .page-title h1 {
        font-size: 42px;
    }
    #bin-main .page-title h1:before {
        top: 15px;
        margin-right: -68px;
    }
    .bin-header.header-2 .header-content .col-sm-1.middle {
        margin: 0;
    }

    .bin-header.header-2 .content-head .bingo-menu-wrapper .navbar-toggle {
        margin: 0 15px;
    }

    .bin-header.header-2 .content-head .col-sm-9 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
        margin-left: 50px;
        width: 460px;
    }

    .bin-header.header-2 .header-content #text-2 {
        flex-grow: 4;
        margin: 0;
        letter-spacing: 0.8px;
    }

    .bin-header.header-2 .header-content #text-2 .widget-title {
        font-size: 28px !important;
    }

    .bin-header.header-2 .header-content #text-3 {
        flex-grow: 1;
    }

    .bin-header.header-2 .header-content #text-4 {
        flex-grow: 1;
        text-align: center;
    }

    .bin-header.header-2 .categories-menu .menu > li.level-0 > a {
        font-size: 11px;
        padding: 6px 6px !important;
    }

    .header-content .maxbutton-1.maxbutton.maxbutton-catalog {
        width: 180px;
    }
    .footer_wrap {
        display: flex;
        justify-content: center;
        flex-flow: column;
        padding: 15px 0;
        width: 100%;
    }
    .copyright--3 span, .company_name a {
        font-size: 10px;
        text-align: center;
        display: block;
    }
    .products-list.grid .product-wapper .products-thumb {
        position: relative;
        display: block;
        width: 355px;
        height: 355px;
        overflow: hidden;
    }
    .wpb-js-composer .vc_tta.vc_tta-style-classic.vc_tta-tabs .vc_tta-panel.color_tab {
        width: 538px;
        margin: 0 auto;
    }
    .wpb-js-composer .vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-panel-body .wpb_single_image:nth-of-type(3n+3) {
        margin-right: 0;
    }
    .wpb-js-composer .vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-panel-body .wpb_single_image {
        margin-right: 20px;
    }
    .wpb_wrapper .vc_btn3.vc_btn3-color-grey.vc_btn3-style-flat {
        width: 200px;
        height: 50px;
        font-size: 14px;
    }
    .products-list.grid .product-wapper .products-content h3 a,
    .products-list.list .product-wapper .products-content h3 a{
        font-size: 14px !important;
        font-family: "Lato-Bold";
        text-transform: uppercase;
    }
    .products-list.grid .product-wapper .products-content h4 {
        font-size: 12px !important;
    }
    .facade_type {
        font-size: 10px !important;
    }
    .related .related_product.product-wapper .products-content {
        width: 90% !important;
        margin: 0 auto;
    }
    .vc_column_container > .vc_column-inner{
        padding: 0;
    }
}

@media only screen
and (min-width: 481px)
and (max-width: 767px) {
    .container {
        width: 600px;
    }

    .bin-header.header-2 .header-content .col-sm-1.middle {
        margin: 0 0 0 15px;
    }

    .bin-header.header-2 .content-head .col-sm-9 {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        margin-left: 40px;
    }

    .bin-header.header-2 .header-content #text-2 {
        display: none;
    }

    .bin-header.header-2 .header-content #text-3 {
        flex-grow: 1;
    }

    .bin-header.header-2 .header-content #text-4 {
        flex-grow: 1;
        text-align: center;
        position: static;
    }

    .bin-header.header-2 .categories-menu .menu > li.level-0 > a {
        font-size: 11px;
        padding: 6px 6px !important;
    }

    .header-content .maxbutton-1.maxbutton.maxbutton-catalog {
        width: 180px;
    }

    .bin-header.header-2 .categories-menu .btn-categories {
        position: absolute;
        bottom: 43px;
        left: 0;
        right: 0;
        margin-left: 88%;

    }
    #bin-main .page-title h1, .archive.woocommerce #bin-main .page-title h1 {
        font-size: 37px !important;
    }
    #bin-main .page-title h1:before {
        top: 21px !important;
        margin-right: -56px !important;

    }
    .fa-bars:before {
        content: none;
    }

    .fa-bars:before,
    .bin-header.header-2 .categories-menu .btn-categories:before,
    .bin-header.header-2 .categories-menu .btn-categories:after {
        content: '';
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background: #252525;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }

    .bin-header.header-2 .categories-menu .btn-categories:hover {
        cursor: pointer;
    }

    .bin-header.header-2 .categories-menu .btn-categories:hover > .fa-bars:before {
        background: #fe0000;
    }

    .bin-header.header-2 .categories-menu .btn-categories:hover:before {
        background: #fe0000;
    }

    .bin-header.header-2 .categories-menu .btn-categories:hover:after {
        background: #fe0000;
    }

    .fa-bars:before {
        margin-top: -18px;
    }

    .bin-header.header-2 .categories-menu .btn-categories:after {
        margin-top: -19px;
    }

    .page-wrapper #bin-main .page-title.bin-title {
        padding: 150px 0;
    }
    .products-list.grid .product-wapper .products-thumb {
        display: block;
        width: 356px;
        height: 356px;
    }
    .wpb_wrapper .vc_btn3.vc_btn3-color-grey.vc_btn3-style-flat {
        width: 200px;
        height: 50px;
        font-size: 14px;
    }
    .products-list.grid .product-wapper .products-content h3 a {
        font-size: 14px !important;
        font-family: "Lato-Bold";
        text-transform: uppercase;
    }
    .products-list.grid .product-wapper .products-content h4 {
        font-size: 12px !important;
    }
    .facade_type {
        font-size: 10px !important;
    }
    .related .related_product.product-wapper .products-content {
        width: 90% !important;
        margin: 0 auto;
    }
    .woocommerce .products-list.list .product-wapper {
        border-radius: 0;
    }
    .woocommerce .products-list.list .product-wapper:hover,
    .products-list.list .product-wapper .products-thumb {
        overflow: hidden;
    }
    .woocommerce .bin-main-content .products-list.grid .type-product {
        min-width: 335px;
        width: 100%;

    }


    /* MAKS */
    .best_choice .vc_column_container .vc_column-inner .wpb_content_element, .best_choice .vc_column_container .vc_column-inner .wpb_content_element .widget_text{
        padding: 10px !important;
    }
}

@media only screen
and (min-width: 481px)
and (max-width: 630px) {
    .container {
        width: 90%;
    }

    .bin-header.header-2 .content-head .row > .left {
        width: 23%;
        text-align: center;
    }

    #text-3 .widget-title {
        font-size: 16px !important;
    }

    .bin-header.header-2 .content-head .navbar-header .navbar-toggle .icon-bar {
        width: 22px;
        height: 2px;
        margin-top: 4px;
    }

    .header-content .maxbutton-1.maxbutton.maxbutton-catalog {
        width: 130px;
        height: 28px;
        margin-bottom: 10px;
    }

    .header-content .maxbutton-1.maxbutton.maxbutton-catalog .mb-text {
        font-size: 12px;
        padding-top: 6px;
    }

    .bin-header.header-2 .categories-menu .btn-categories {
        bottom: 36px;
    }

}
@media only screen
and (min-width: 600px)
and (max-width: 1023px) {
    .products-list.list .product-wapper .products-content {
        margin: 0 auto !important;
    }
    .woocommerce .bin-main-content .products-list.grid .type-product {
        width: 100%;
    }
}
@media only screen
and (min-width: 768px)
and (max-width: 767px) {
    .products-list.list .product-wapper .products-content {
        margin: 0 auto !important;
        padding: 20px;
    }
}
@media only screen
and (min-width: 770px)
and (max-width: 1023px) {
    .products-list.list .product-wapper .products-thumb {
        padding: 0 20px;
    }
}
@media only screen
and (min-width: 320px)
and (max-width: 480px) {
    .tp-revslider-slidesli {
        display: none;
    }
    .tp-revslider-slidesli.active-revslide {
        display: block;
    }

    .bin-main .bin-main-content {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .bin-header.header-2 .content-head .row > .left {
        width: 26%;
        text-align: center;
    }
    #bin-main .page-title h1 {
        font-size: 35px !important;
    }
    #bin-main .page-title h1:before {
        top: 21px !important;
        margin-right: -56px !important;
    }
    #text-3 .widget-title {
        font-size: 10px !important;
    }

    .fa-phone {
        margin-right: 11px;
        font-size: 12px;
        top: 1px;
        left: 4px;
    }

    .bin-header.header-2 .content-head .navbar-header .navbar-toggle .icon-bar {
        width: 22px;
        height: 2px;
        margin-top: 4px;
    }

    .bin-header.header-2 .content-head #text-4 {
        margin-top: -6px;
    }

    .header-content .maxbutton-1.maxbutton.maxbutton-catalog {
        width: 110px;
        height: 28px;

    }

    .header-content .maxbutton-1.maxbutton.maxbutton-catalog .mb-text {
        font-size: 10px !important;
        padding-top: 6px;
    }

    .bin-header.header-2 .categories-menu .btn-categories {
        bottom: 36px;
    }

    .bin-header.header-2 .header-content .col-sm-1.middle {
        margin: 0;
    }

    .bin-header.header-2 .content-head .col-sm-9 {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        width: 60%;
        margin: 0 auto;
    }

    .bin-header.header-2 .header-content #text-2 {
        display: none;
    }

    .bin-header.header-2 .header-content #text-3 {
        flex-grow: 1;
    }

    .bin-header.header-2 .header-content #text-4 {
        flex-grow: 1;
        text-align: center;
        position: static;
    }

    .bin-header.header-2 .categories-menu .menu > li.level-0 > a {
        font-size: 11px;
        padding: 6px 6px !important;
    }

    .bin-header.header-2 .categories-menu .btn-categories {
        position: absolute;
        bottom: 36px;
        left: 0;
        right: 0;
        margin-left: 88%;

    }

    .fa-bars:before {
        content: none;
    }

    .fa-bars:before,
    .bin-header.header-2 .categories-menu .btn-categories:before,
    .bin-header.header-2 .categories-menu .btn-categories:after {
        content: '';
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background: #252525;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }

    .bin-header.header-2 .categories-menu .btn-categories:hover {
        cursor: pointer;
    }

    .bin-header.header-2 .categories-menu .btn-categories:hover > .fa-bars:before {
        background: #fe0000;
    }

    .bin-header.header-2 .categories-menu .btn-categories:hover:before {
        background: #fe0000;
    }

    .bin-header.header-2 .categories-menu .btn-categories:hover:after {
        background: #fe0000;
    }

    .fa-bars:before {
        margin-top: -18px;
    }

    .bin-header.header-2 .categories-menu .btn-categories:after {
        margin-top: -19px;
    }

    .wpb_wrapper .vc_btn3.vc_btn3-color-grey.vc_btn3-style-flat {
        width: 160px;
        height: 50px;
        font-size: 14px;
    }

    .page-wrapper #bin-main .page-title.bin-title {
        padding: 100px 0;
    }
    .products-list.grid .product-wapper .products-thumb {
        display: block;
        width: 245px;
        height: 245px;
    }
    .archive.woocommerce .bin-breadcrumb,.archive.woocommerce .bin-breadcrumb a {
        font-size: 20px !important;
    }
    .entry-content  .slider-home-2 {
        display: none;
    }
    .slider_sm_photo {
        display: block;
        padding: 20px;
        margin-bottom: 0;
    }
    .slider_sm_photo .slide_sm_title{
           font-family: "Lato-Semibold";
           font-size: 18px;
           color: #fff;
       }
    .slider_sm_photo .slide_sm_description{
         font-family: "Lato-Black";
         font-size: 24px;
         color: #fff;
        margin-bottom: 10px;
        display: block;
     }

    .slider_sm_photo .slide_sm_link{
        font-family: "Lato-Black";
        font-size: 12px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.75);
        border-color: rgb(0, 0, 0);
        padding: 8px 12px;
        border-style: solid;
        border-width: 2px;
        display: inline-block;
    }
    .slider_sm_photo .slide_sm_link:hover,
    .slider_sm_photo .slide_sm_link:active {
        font-family: "Lato-Black";
        font-size: 12px;
        color: rgb(0, 0, 0);
        background-color: #ffffff;
        border-color: #ffffff;
        padding: 8px 12px;
        border-style: solid;
        border-width: 2px;
        display: inline-block;
    }
    .slider_sm_bg{
    	display: block;
    	background-image: url(bg-slider1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .slider_sm_bg .vc_column-inner{
        padding-bottom: 2px;
    }
    .products-list.grid .product-wapper .products-content h3 a, .woocommerce-page.single-product .entry-summary .product_title {
        font-size: 14px !important;
        font-family: "Lato-Bold";
        text-transform: uppercase;
    }
    .products-list.grid .product-wapper .products-content h4, .woocommerce-page.single-product .entry-summary h4 {
        font-size: 12px !important;
    }
    .facade_type {
        font-size: 10px !important;
    }
    .related .related_title h2 {
        font-size: 20px;
    }
    .related .related_product.product-wapper .products-content {
        width: 225px !important;
        margin: 0 auto;
    }
}

@media only screen
and (min-width: 320px)
and (max-width: 1219px) {
    .red_square {
        margin: 30px 0;
        font-size: 36px !important;
    }
    .slider-home-2 .wpb_wrapper {
        margin-top: -10px;
    }
    .vc_btn3-container.vc_btn3-center {
        margin: 15px auto 0;
    }

    .products-list.grid .product-wapper .products-content h3 a {
        font-size: 12px;
    }
    .products-list.grid .product-wapper .products-content {
       width: 355px;
        margin: 0 auto;
        max-width: 100%;
    }
    .products-list.grid > li.product .products-content {
        padding: 20px 10px 0;
        text-align: center;
    }

    .products-list.grid > li.product {
        padding: 0 5px !important;
        margin-bottom: 5px;
    }

    .bin-main .widget {
        margin: 0;
    }

    .best_choice_text {
        line-height: 25px !important;
    }

    .best_choice {
        width: 100%;
    }

    .best_choice .choice_text {
        padding: 15px;
        width: 56%;
        line-height: 22px;
    }

    .wpb_wrapper .widget_text ul {
        line-height: 22px;
    }

    .best_choice .textwidget p, .best_choice .textwidget ul li, .best_choice .textwidget {
        width: 100%;
        font-size: 12px;
    }

    .best_choice .widgettitle {
        font-family: "Lato-Bold";
        font-size: 14px;
    }

    .offers-block .text_list, .reasons .text_list {
        margin: 20px auto;
        width: 85%;
        font-size: 12px;
    }

    .wpb_wrapper .widget_text ul {
        width: 100%;
    }

    .wpb_wrapper .widget_text ul li {
        font-size: 12px;
    }

    .vc_custom_1504525761488 {
        background-repeat: no-repeat;
        background-size: cover;
    }
    .vc_column_container > .vc_column-inner {
        padding: 10px 5px 30px;
    }
    .products-list.grid .product-wapper {
        overflow: hidden;
        border-radius: 0;
    }
}
@media only screen
and (min-width: 992px)
and (max-width: 1219px){
    .products-list.grid > li.product {
        width: 50%;
        margin: 0 auto;
    }
}
@media only screen
and (min-width: 1024px)
and (max-width: 1219px) {
    .best_choice .textwidget p, .best_choice .textwidget ul li, .best_choice .textwidget {
        font-size: 15px;
    }

    .best_choice .widgettitle {
        font-size: 20px;
    }
    .wpb-js-composer .vc_tta.vc_tta-style-classic.vc_tta-tabs .vc_tta-panel.color_tab {
        width: 538px;
        margin: 0 auto;
    }
    .wpb-js-composer .vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-panel-body .wpb_single_image:nth-of-type(3n+3) {
        margin-right: 0;
    }
    .wpb-js-composer .vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-panel-body .wpb_single_image {
        margin-right: 20px;
    }
    .related .related_product.product-wapper .products-content {
        width: 90% !important;
        margin: 0 auto;
    }

}

@media only screen
and (min-width: 320px)
and (max-width: 767px) {
    .bin-header.header-2 {
        position: relative;
        margin-bottom: -5px;
    }


    .bin-header.header-2 .wrapper-categories .remove-megamenu {
        color: #ed1c24;
    }
    .bin-header.header-2 .wrapper-categories .remove-megamenu:hover {
        color:  #252525;
    }
    .categories-menu #menu-menu-categories li:first-of-type a {
        padding: 6px 6px !important;
    }
    .best_choice {
        display: flex;
        justify-content: center;
        flex-flow: column;
        margin-bottom: 30px;
    }

    .best_choice_right {
        flex-direction: column-reverse;
        text-align: left;
    }

    .choice_text, .choice_img {
        display: flex;
    }
    .furniture-description {
        line-height: 1.7;
        padding: 0 15px;
        font-size: 14px;
    }

    .best_choice .choice_img, .best_choice .choice_text, .best_choice .textwidget ul {
        width: 100%;
    }

    .best_choice .textwidget p, .best_choice .textwidget ul li, .best_choice .textwidget {
        font-size: 15px;
    }

    .best_choice .widgettitle {
        font-size: 18px;
    }


    h2.offers {
        margin: 5px auto 25px;
    }

    .footer_wrap {
        display: flex;
        justify-content: center;
        flex-flow: column;
        padding: 10px 0;
        width: 100%;
    }
    .copyright--3 span, .company_name a, .company_name a span  {
        font-size: 8px !important;
        text-align: center;
        display: inline-block;
    }
    .content_sortPagiBar.top .display, .content_sortPagiBar.top .woocommerce-result-count {
        display: none;
    }
    .color_tab .vc_tta-panel-body {
        text-align: center;
    }
    .wpb-js-composer .vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-panel-body .wpb_single_image:nth-of-type(6n+6){
        margin-right: 20px;
    }
}

@media only screen
and (min-width: 320px)
and (max-width: 480px) {
    .best_choice .textwidget p, .best_choice .textwidget ul li, .best_choice .textwidget {
        font-size: 12px;
    }

    .best_choice .widgettitle {
        font-size: 16px;
    }

    .red_square {
        margin: 1px auto 20px;
        font-size: 20px !important;
        max-width: 90%;
        line-height: 1.6;
    }

    .red_square:before {
        margin-right: -53px;
        width: 50px;
        height: 50px;
        top: 18px;
        right: 19px;
    }

    .back-top {
        bottom: 35px;
    }
    .wpb-js-composer .vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-panel-body .wpb_single_image,
    .wpb-js-composer .vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-panel-body .wpb_single_image:nth-of-type(6n+6){
        margin-right: 0;
    }
    .bin-breadcrumb, .bin-breadcrumb a, span {
        font-size: 18px !important;
    }
   .bin-header.header-2 .bin-navigation ul>li.level-0  > a span,
   .bin-header.header-2 .categories-menu .menu>li.level-0 > a span{
       font-size: 12px !important;
    }
    .bin-header.header-2 .bin-navigation ul>li.level-0>a,.bin-header.header-2 .wrapper-categories .menu>li.level-0 {
        padding: 5px 0;
        margin: 5px 0;

    }
}

/* CATEGORY */
.products-list.grid .product-wapper .products-content .product-title a,
.products-list.list .product-wapper .products-content .product-title a{
    font-size: 20px;
}
.facade_type {
    font-family: "Lato-Light";
    font-size: 14px;
}
.products-content h4 {
    font-family: "Lato-Bold";
    font-size: 16px;
    color: #4D4D4D;
}
.bmf_excerpt .prods-fasad {
    font-family: "Lato-Regular";
    font-size: 14px;
}

.archive.woocommerce #bin-main .page-title h1{
	font-family: "Lato-Black";
	font-size: 54px;
	color: #333333;
	letter-spacing: 0;
}

.archive.woocommerce .bin-breadcrumb {
    font-size: 23px;
}

.archive.woocommerce .bin-breadcrumb a {
    color: #333333;
}

.archive.woocommerce .bin-breadcrumb .delimiter {
    color: #333333;
}

.archive.woocommerce #bin-main .page-title {
    color: #333333;
    font-family: "Lato-Light";
}

.single-product .entry-summary .product_title {
    font-family: 'Lato-Black';
    font-size: 29px;
    line-height: 38.8px;
    letter-spacing: 1.16px;
    color: #333333;
}

.single-product .BoxInfo div[itemprop=description] p {
    font-family: 'Lato-Light';
    color: #333333;
}

.archive.woocommerce .bin-breadcrumb a:hover {
    color: #333333;
}

/*#bin-main .page-title h1 {*/
    /*color: #333333;*/
    /*font-size: 54px;*/
    /*font-family: sans-serif, 'LatoBlack';*/
/*}*/

.bin-breadcrumb {
    color: #fff;
    font-size: 23px;
    font-family: 'Lato-Light';
}

.bin-breadcrumb .delimiter {
    border-color: #fff;
}

.bin-breadcrumb a, span {
    color: #fff;
}

@font-face {
    font-family: Lato-Light;
    src: url('fonts/LATO-LIGHT_0.TTF');
}

@font-face {
    font-family: Lato-Bold;
    src: url('fonts/LATO-BOLD_0.TTF');
}

@font-face {
    font-family: Lato-Black;
    src: url('fonts/LATO-BLACK_0.TTF');
}

@font-face {
    font-family: Lato-BlackItalic;
    src: url('fonts/LATO-BLACKITALIC_0.TTF');
}

@font-face {
    font-family: Lato-BoldItalic;
    src: url('fonts/LATO-BOLDITALIC_0.TTF');
}

@font-face {
    font-family: Lato-Heavy;
    src: url('fonts/LATO-HEAVY_0.TTF');
}

@font-face {
    font-family: Lato-HeavyItalic;
    src: url('fonts/LATO-HEAVYITALIC_0.TTF');
}

@font-face {
    font-family: Lato-LightItalic;
    src: url('fonts/LATO-LIGHTITALIC_0.TTF');
}

@font-face {
    font-family: Lato-Medium;
    src: url('fonts/LATO-MEDIUM_0.TTF');
}

@font-face {
    font-family: Lato-MediumItalic;
    src: url('fonts/LATO-MEDIUMITALIC_0.TTF');
}

@font-face {
    font-family: Lato-Regular;
    src: url('fonts/LATO-REGULAR_0.TTF');
}

@font-face {
    font-family: Lato-Semibold;
    src: url('fonts/LATO-SEMIBOLD_0.TTF');
}

@font-face {
    font-family: Lato-SemiboldItalic;
    src: url('fonts/LATO-SEMIBOLDITALIC_0.TTF');
}
@font-face {
    font-family: Lato-Thin;
    src: url('fonts/LATO-THIN_0.TTF');
}



/*ABOUT US*/
.page-wrapper #bin-main .page-title.bin-title {
    display: block;
}
.company_name{
    color: #fff;
}
.bin-quickview-btn{
    display: none!important;
}
.error404 #bin-main .page-header .page-title{
    color: #ed1c24;
}
.page-404 .content-404 .btn-404 a:hover{
    background: #ed1c24;
}
.page-404 .content-404 .btn-404 a{
    color: #ed1c24;
    border: 2px solid #ed1c24;
}